%h1 All Movies

= form_tag movies_path, :method => :get, :id => "movie_search" do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  %p
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "rating[]", rating, (params[:rating].include?(rating) if params[:rating]), :id => "rating[#{rating}]"
  %p
    = label_tag :director, "Search Director"
    = text_field_tag :director, params[:director]
  %p
    = label_tag :keywords, "Search Title"
    = text_field_tag :keywords, params[:keywords]
  %p= submit_tag 'Search', :name => nil
= link_to 'Clear search', movies_path

%table#movies
  %thead
    %tr
      %th ID
      %th= sortable "title"
      %th Rating
      %th= sortable "release_date", "Release Date"
      %th More Info
      %th Edit
      %th Delete
  %tbody
    = render :partial => 'movie_row', :collection => @movies

= link_to 'Add new movie manually', new_movie_path

%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'
